@media(max-width: 500px){
    .nav-tool{
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 2%;
    }

    .nav-tool ul{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        text-align: center;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .nav-tool ul li a{
        padding: 0;
    }

    .grid-container{
        grid-template-columns: repeat(1, auto);
    }

    .foooter{
        display: flex;
        flex-direction: column;
        padding-left: 5px;
    }
}

@media(min-width: 501px) and (max-width: 768px){
    .grid-container{
        grid-template-columns: repeat(2, auto)
    }
}